*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.navb{
  height: 60px;
  display: flex;
  justify-content: space-between;
}
.brand{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}
.icon{
    
}
.brand-name{
  font-weight: bold;
  letter-spacing: 5px;
}
.menu{
    width: 400px;

    display: flex;
    justify-content: space-around;
    align-items: center;


}
.options{
   font-weight: 700;
}
.special{
  background: blue;
  width: 70px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 20px;
}

.front-part{
  margin-top: 50px;
  justify-content: space-around;
}

.content{
  height: 400px;
  margin-left: 100px;
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: right;
  width: 700px;
}
.content h1{
  font-size: 60px;
  font-weight: bold;
}
.content p{
  font-size: 25px;
}
span{
  font-weight: bold;
}
.content div{
  height: 40px;
  width: 150px;
  background: blue;
  color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.grid{
  margin: 0 auto;
 width: 80%;
 justify-content: space-around;
 align-items: center;
}
.grid img{
  width: 30%;
}
.blurb{
 width: 25%;
}
.main{
  display: flex;
  width: 100%;
  align-items: center;
}
.space{
  height: 60px;
  width: 5px;
  background: lightcoral;
  margin-right: 20px;
}
.second{
  background: lightskyblue;
}
.head{
  font-size: 25px;
  font-weight: bold;
}
.blurb p{
  margin-top: 20px;
  font-weight: 400;
  word-spacing: 2px;
}

.container-2{
  height: 80vh;
  background: #F9F2EC;
}

.header{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header h1{
 font-weight: bold;
}
.header p{

}

.boxes{
  height: 250px;
}
.box{
 width: 23%;
 border: 1px solid gray;
 border-radius: 5px;
}
.cource-name{
  text-align:right;
  font-size: 23px;
  color: #415B7C;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
}
.details{
  justify-content: space-between;
  background: white;
  border-radius: 5px;
}
.t-details{
  font-size: 11px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.view-more{
  height: 30px;
  width: 80px;
  background: white;
  border-radius: 20px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
.top{
 margin-left: 6px;
}
time{

}
.t-name{

}
.level{
 margin-left: 6px;
}
.t-photo{

}
.t-photo img{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin:10px 2px;
}

.one{
  background: #FFFBD6;
}
.two{
  background: #DCEAE0;
}
.three{
  background: #DAE6FF;
}
.four{
  background: #DCEAE0;
}